body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ecee6d;
}

img {
    filter: brightness(90%) contrast(120%) saturate(130%);
    border-radius: 10px;
    margin: 10px;
}